<%= provide(:title, "Current Order") %>
<div class="row">

<% if @order.nil? %>
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">Info</div>
      <div class="panel-body"><p>You have no in-complete order. Or, you can check your order history <a href="#">here</a>.</p></div>
    </div>
  </div>
    <% else %>
      <%= render 'current_order_info' %>
    <% end %>
    
</div>
